<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./card.css">
    <title>Document</title>
</head>
<body>
    <div class="card wrapper">
        <div class="card-header">
            <div class="card-title">Card Title</div>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deleniti ab hic ipsa quasi harum?
        </div>
    </div>
    <div class="card wrapper">
        <div class="card-header">
            <div class="card-title">Card Title</div>
            <i class='close bx bx-x'></i>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deleniti ab hic ipsa quasi harum?
        </div>
    </div>
    <div class="vertical-card wrapper">
        <div class="card-header">
            <div class="img-container">
                <img class="card-img" src="./book.jpg" alt="book">
                <i class='card-wishlist-icon bx bx-heart'></i>
            </div>
        </div>
        <div class="card-body ">
            <div class="item-price">Rs. 500</div>
            <div class="description">HARAPPA:Curse Of The Blood River</div>
        </div>
        <div class="footer">
            <button class="btn card-btn primary-outline-btn primary-btn-text-icon">
                <i class='btn-icon bx bxs-cart'></i>Add to cart
            </button>

            <button class="btn card-btn primary-solid-btn primary-btn-text-icon">
                <i class='btn-icon bx bxs-bolt'></i>Buy Now
            </button>
        </div>
    </div>

    <div class="card card-horizontal wrapper">
        <div class="img-container">
            <img class="card-img" src="./book.jpg" alt="book">
            <i class='card-wishlist-icon bx bx-heart'></i>
        </div>
        <div class="card-horizontal-details">
            <div class="item-price">Rs. 500</div>
            <div class="description">HARAPPA:Curse Of The Blood River</div>
            <div class="card-horizontal-button">
                <button class="btn card-btn primary-outline-btn primary-btn-text-icon">
                    <i class='btn-icon bx bxs-cart'></i>Add to cart
                </button>

                <button class="btn card-btn primary-solid-btn primary-btn-text-icon">
                    <i class='btn-icon bx bxs-bolt'></i>Buy Now
                </button>
            </div>
        </div>
    </div>
    <div class="card wrapper">
        <span class="card-badge">TRENDING</span>
        <div class="card-header">
            <div class="img-container">
                <img class="card-img" src="./book.jpg" alt="book">
                <i class='card-wishlist-icon bx bx-heart'></i>
            </div>
        </div>
        <div class="card-body">
            <div class="item-price">Rs. 500</div>
            <div class="description">HARAPPA:Curse Of The Blood River</div>
        </div>
        <div class="footer">
            <button class="btn card-btn primary-outline-btn primary-btn-text-icon">
                <i class='btn-icon bx bxs-cart'></i>Add to cart
            </button>

            <button class="btn card-btn primary-solid-btn primary-btn-text-icon">
                <i class='btn-icon bx bxs-bolt'></i>Buy Now
            </button>
        </div>
    </div>
    <div class="card wrapper">
        <div class="overlay-container">
            <div class="card-header">
                <div class="img-container">
                    <img class="card-img" src="./book.jpg" alt="book">
                    <i class='card-wishlist-icon bx bx-heart'></i>
                </div>
            </div>
            <div class="card-body">
                <div class="item-price">Rs. 500</div>
                <div class="description">HARAPPA:Curse Of The Blood River</div>
            </div>
            <div class="footer">
                <button class="btn card-btn primary-outline-btn primary-btn-text-icon">
                    <i class='btn-icon bx bxs-cart'></i>Add to cart
                </button>

                <button class="btn card-btn primary-solid-btn primary-btn-text-icon">
                    <i class='btn-icon bx bxs-bolt'></i>Buy Now
                </button>
            </div>
        </div>
        <div class="overlay-text">OUT OF STOCK</div>
    </div>
    <div class="card shadow wrapper">
        <div class="card-header">
            <div class="img-container">
                <img class="card-img" src="./book.jpg" alt="book">
                <i class='card-wishlist-icon bx bx-heart'></i>
            </div>
        </div>
        <div class="card-body">
            <div class="item-price">Rs. 500</div>
            <div class="description">HARAPPA:Curse Of The Blood River</div>
        </div>
        <div class="footer">
            <button class="btn card-btn primary-outline-btn primary-btn-text-icon">
                <i class='btn-icon bx bxs-cart'></i>Add to cart
            </button>

            <button class="btn card-btn primary-solid-btn primary-btn-text-icon">
                <i class='btn-icon bx bxs-bolt'></i>Buy Now
            </button>
        </div>
    </div>

</body>
</html>