@import url(/custom.css);

.slider{
    appearance: none;
    height: 7px;
    background-color: var(--green);
    box-shadow: var(--Shadow--01);
    border-radius: 12px;
    
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background:var(--grey);
    cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}