<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="list.css">
    <title>list</title>
</head>
<body>
    <div class="showcase ">
        <div class="list-showcase-container">

            <ul class="list">
                <li class="list-item">
                    <span class="material-icons list-icon">inbox</span>
                    <span class="text">Inbox</span>
                </li>
                <li class="list-item">
                    <span class="material-icons list-icon">drafts</span>
                    <span class="text">Drafts</span>
                </li>
                <hr >
                <li class="list-item">
                    <span class="text">Spam</span>
                </li>
                <li class="list-item">
                    <span class="text">Trash</span>
                </li>
                
            </ul>
        </div>
    </div>
    <br>
    <div class="showcase ">
        <div class="list-showcase-container">

            <ul class="list list-stacked">
                <li class="list-item">
                    <span class="material-icons list-icon">inbox</span>
                    <span class="text">Inbox</span>
                </li>
                <li class="list-item">
                    <span class="material-icons list-icon">drafts</span>
                    <span class="text">Drafts</span>
                </li>
                <hr >
                <li class="list-item">
                    <span class="text">Spam</span>
                </li>
                <li class="list-item">
                    <span class="text">Trash</span>
                </li>
                
            </ul>
        </div>
    </div>
</body>
</html>