<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./rating.css">
    <title>Rating</title>
</head>
<body>
    <div class="wrapper">
        <h1>Rating</h1>
    <div class="rating-container">
        <span class="material-icons rated">star</span>
        <span class="material-icons rated">star</span>
        <span class="material-icons rated">star</span>
        <span class="material-icons ">star_border</span>
        <span class="material-icons ">star_border</span>
    </div>
</div>


</body>
</html>