<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./badge.css">
    <title>Badge</title>
</head>
<body>
    <div class="wrapper">
        
        <h1>Avatar with badge</h1>
        <div class="badge-pos">
        <span class="badge-wrapper">
            <img class="avatar" src="/components/avatar/Avatar.svg" alt="avatar">
            <span class="badge badge-default badge-top-right"></span>
        </span>
        <span class="badge-wrapper">
            <img class="avatar" src="/components/avatar/Avatar.svg" alt="avatar">
            <span class="badge badge-default badge-bottom-right "></span>
        </span>
        <span class="badge-wrapper">
            <img class="avatar" src="/components/avatar/Avatar.svg" alt="avatar">
            <span class="badge badge-default badge-top-left "></span>
        </span>
        <span class="badge-wrapper">
            <img class="avatar" src="/components/avatar/Avatar.svg" alt="avatar">
            <span class="badge badge-default badge-bottom-left "></span>
        </span>
        </div>
    
        <h1>Different Avatar Sizes</h1>
        <div class="container">
            <div class="badge-wrapper"> 
                <img class="avatar avatar-small " src="/components/avatar/Avatar.svg" alt="small avatar">
                <span class="badge badge-small badge-bottom-left"></span>
            </div>
             <div class="badge-wrapper">
                <img class="avatar avatar-medium" src="/components/avatar/Avatar.svg" alt="medium avatar">
                <span class="badge badge-medium badge-bottom-left"></span>
            </div>
            <div class="badge-wrapper"> 
                <img class="avatar avatar-large" src="/components/avatar/Avatar.svg" alt="large avatar">
                <span class="badge badge-large badge-bottom-left"></span>
            </div>
            <div class="badge-wrapper"> 
                <img class="avatar avatar-xl" src="/components/avatar/Avatar.svg" alt="xl avatar">
                <span class="badge badge-xl badge-bottom-left"></span>
            </div>
        </div>

        <h1>Square Avatar with badges</h1>
        <div class="container">
            <div class="badge-wrapper"> 
                <img class="avatar-small " src="/components/avatar/Avatar.svg" alt="small avatar">
                <span class="badge badge-small badge-bottom-left"></span>
            </div>
            <div class="badge-wrapper">
                <img class="avatar-medium" src="/components/avatar/Avatar.svg" alt="medium avatar">
                <span class="badge badge-medium badge-bottom-left"></span>
            </div>
            <div class="badge-wrapper"> 
                <img class="avatar-large" src="/components/avatar/Avatar.svg" alt="large avatar">
                <span class="badge badge-large badge-bottom-left"></span>
            </div>
            <div class="badge-wrapper"> 
                <img class="avatar-xl" src="/components/avatar/Avatar.svg" alt="xl avatar">
                <span class="badge badge-xl badge-bottom-left"></span>
            </div>
        </div>

        <h1>Badge on icons</h1>
        <div class="badge-icon">
        <span class="badge-wrapper"> 
            <span class="material-icons">
                email
                </span>
            <span class="badge badge-small badge-top-right"></span>
         </span>
        <span class="badge-wrapper"> 
            <span class="material-icons">
                question_answer
                </span>
            <span class="badge badge-small badge-top-right"></span>
        </span>
        </div>
        
        <h1>Color variants</h1>
        <div class="container badge-colors">
            <div class="container">Black
                <span class="badge-default badge-black"></span>
        </div>
            <div class="container">Grey
                <span class="badge-default badge-grey"></span>
        </div>
            <div class="container">Green
                <span class="badge-default badge-green"></span>   
        </div>
            <div class="container">Yellow
                <span class="badge-default badge-yellow"></span>
        </div>
            <div class="container">Red
                <span class="badge-default badge-red"></span>
        </div>
            <div class="container">Violet
                <span class="badge-default badge-violet"></span>
        </div>
            <div class="container ">Blue
                <span class="badge-default badge-blue"></span>
        </div>
            
    </div>
</body>
</html>