<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./text-utilities.css">
    <title>typography</title>
</head>
<body>
    <p class="text-center">Center text.</p>

    <h1>This is a h1 headline.</h1>
    <h2>This is a h2 headline.</h2>
    <h3>This is a h3 headline.</h3>
    <h4>This is a h4 headline.</h4>
    <h5>This is a h5 headline.</h5>
    <h6>This is a h6 headline.</h6>

    <p class="heading-family">Heading:Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</p>
    <p class="content-family">Content:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</p>
    <p class="text-highlight">highlighted text</p>
    <p class="text-color">Color text</p>

</body>
</html>